img {
    width: 200px;
    height: 250px;
}

#main {
    display: flex;
    overflow-x: auto;
    margin-top: 0px;
    max-width: 300px;
    margin: 0 auto 0 auto;
    margin-bottom: 70px;
}

#main > div {
    margin-right: 45px;
    margin-left: 30px;
}

#gameStartButton {
    display: block;
    margin: 25px auto;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/2088/2088431.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
}

#resetB {
    display: block;
    margin: 50px auto;
    width: 50px;
    height: 25px;
    border-radius: 15px;
    background-color: black;
    color: white;
}

body {
    background-image: url(https://media.discordapp.net/attachments/1088709110968631296/1155524977257365584/700.png?width=1259&height=887);
    background-repeat: no-repeat;
    background-size: cover;
}

#nowMoney {
    color: white;
}

p {
    color: white;
    text-align: center;
}
#topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 410px;
}

#topBar > * {
    margin: 0;
}

.buy {
    background-color: limegreen;
    width: 50px;
    height: 30px;
    border-radius: 7px;
}
.sell {
    background-color: red;
    width: 50px;
    height: 30px;
    border-radius: 7px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}